{% extends "base.html" %}
{% block data %}
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ url_for('static',filename='js/socket_manager.js') }}"></script>
        <div class = "row">
            <div class = "col s6">
                <div class = "card">
                    <h5>Chat: {{ chatID }}</h5>
                    <textarea class="materialize-textarea" id="chat"></textarea><br><br>
                    <input id="text" size="80" placeholder="Enter your message here"><br><br>
                    <a href="#" onclick="leave_room();">Leave this room</a>
                </div>
            </div>
        </div>

{% endblock %}
