{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{# Includes the same frame as the main page but adds a form which allows a user to register #}
{% block data %}
{# Includes the scripts such as jquery and socket_manager which are required to create the chat box    #}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ url_for('static',filename='js/socket_manager.js') }}"></script>
    <script src="{{ url_for('static',filename='js/modaal.js') }}"></script>
    <script src="{{ url_for('static',filename='linkifyjs/linkify.js') }}"></script>
    <script src="{{ url_for('static',filename='linkifyjs/linkify-string.js') }}"></script>
    <script src="{{ url_for('static',filename='linkifyjs/linkify-html.js') }}"></script>
    <script src="{{ url_for('static',filename='linkifyjs/linkify-element.js') }}"></script>
    <script src="{{ url_for('static',filename='linkifyjs/linkify-jquery.js') }}"></script>
<div class = "row center">
    <h5>{{ ta }}</h5>
    <h5>{{ student }}</h5>
</div>
<div class = "row">
    <div class = "col s6">
        <div class = "card">
            <h5>Chat: {{ chatID }}</h5>
            {# Make the textarea readonly to prevent people from typing into the textbox #}
            <textarea readonly class="materialize-textarea" id="chat"></textarea>
            <br><br>
            <input id="text" size="80" placeholder="Enter your message here"><br><br>
            <a  href="#inline"class="inline" >Leave this room</a>
            <div style="display:none;" id = "inline">
                 <form class="rate" id = "rate">
                    <div class="row margin">
                        <div class=" col s12">

                            {{ render_field(form.rating) }}
                        </div>
                    </div>
                     <div class="row margin">
                        <div class="input-field col s12">

                            {{ (form.rating_for) }}
                        </div>
                    </div>
                     <div class="row margin">
                        <div class="input-field col s12">

                            {{ (form.rating_by) }}
                        </div>
                    </div>
                    <div class="row center">
                        <div class="input-field col s4">
                            <a onclick="leave_room(document.getElementsByClassName('rate'), '{{ form.rating_for }}','{{ form.rating_by }}' );" class="btn waves-effect waves-light col s12 blue darken-3">Submit</a>
                </div>
            </div>
        </form>
            </div>
        </div>
    </div>
    <div class = "col s6">
       <iframe style="width: 750px;height: 700px;" src = {{ codeshare }}></iframe>
    </div>
</div>
<script>
$(".inline").modaal();
</script>

{% endblock %}
