{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block data %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <div class="row center">
                <h5 class="header col s12 light">Welcome {{ netid }}</h5>
                <i class="large material-icons">code</i>
            </div>
            <br><br>
        </div>
        <form method="POST">
            {{ render_field(form.hidden_tag) }}
            {{ render_field(form.netID) }}
            {{ render_field(form.chatID) }}
            {{ form.submit() }}
        </form>
    </div>
{%  endblock %}