{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{# Includes the same frame as the main page but adds a form which allows a user to login #}
{# Gets a macro function from another file which allows form validation and error checking #}
{% block data %}
{# Welcomes the user to the main user page and allows the user to create a chat session#}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <div class="row center">
            <h5 class="header col s12 light">Welcome {{ netid }}</h5>
            <i class="large material-icons">code</i>
        </div>
        <br><br>
    </div>
    {% if form %}
        <form method="POST">
            {{ render_field(form.hidden_tag) }}
            {{ render_field(form.netID) }}
            {{ render_field(form.chatID) }}
            {{ form.submit() }}
        </form>
    {%  endif %}
    <div id = "ta_status"></div>
</div>
{%  endblock %}