{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{# Includes the same frame as the main page but adds a form which allows a user to login #}
{# Gets a macro function from another file which allows form validation and error checking #}
{% block data %}
<div class="row">
    <div class="col s6 z-depth-6 card-panel offset-s3">
        <form class="login" id = "login-form" method="post" action="/authenticate/">
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="../static/data/voh_icon.png" alt="" class="responsive-img valign profile-image-login">
                    <p class="center login-form-text">Virtual Office Hours - Sign In</p>
                </div>
            </div>
            <div class="row margin">
                <p>
                    {{ render_field(form.instructor_type) }}
                </p>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    {{ render_field(form.net_id) }}
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    {{ render_field(form.password) }}
                </div>
            </div>
            <div class="row center">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12 blue darken-3">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="../register">Register Now!</a></p>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}