{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{#    <script src="{{ url_for('static',filename='js/ta_status.js') }}"></script>#}
{# Includes the same frame as the main page but adds a form which allows a user to login #}
{# Gets a macro function from another file which allows form validation and error checking #}
{% block data %}
    <script src="{{ url_for('static',filename='js/ta_status.js') }}">
    </script>
{# Welcomes the user to the main user page and allows the user to create a chat session#}
        <br><br>
        <div class="row center">
            <div class = "col s2">
                <h5 class="header col s12 light">Welcome {{ netid }}</h5>
                <i class="large material-icons">code</i>
            </div>
            <div class = "col offset-l7 right-align online">
                <h5>Online TAs</h5>
                <div id = "ta_status"></div>
            </div>
        </div>
        <br><br>
{#    {% if form %}#}
{#        <form method="POST">#}
{#            {{ render_field(form.hidden_tag) }}#}
{#            {{ render_field(form.netID) }}#}
{#            {{ render_field(form.chatID) }}#}
{#            {{ form.submit() }}#}
{#        </form>#}
{#    {%  endif %}#}

{%  endblock %}
